/* Start Global Values*/
*{
    box-sizing: border-box;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*Small*/
    @media (min-width: 768px){
        .container{
            width: 750px;
        }
    }
    /* Medium */
    @media (min-width: 992px) {
        .container{
            width: 970px;
        }
    }
    /* Large */
    @media (min-width: 1200px) {
        .container{
            width: 1170px;
        }
    }
    :root{
        --mainsectionpadding: 100px;
    }
/*End Global Values */
/* Start Global components */
.sectiontitle{
    text-align: center;
}
.sectiontitle > h2{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px;
    width: 100%;
}
.sectiontitle > h2::before{
    content: "";
    position: absolute;
    top: calc(100% + 27.5px);
    left: 50%;
    background-color: #000;
    width: 120px;
    height: 2px;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.sectiontitle > h2::after{
    content: "";
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.sectiontitle > h2 + p{
    text-align: center;
    width: 47%;
    line-height: 2;
    margin: 20px auto 50px auto;
    color: #777;
}
/* End Global components */
/* Start Landing */
.landing{
    background-image: url(../images/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.landing .tint{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Start nav */
nav{
    position: sticky;
    top: 0;
    z-index: 1000000000000;
    background-color: rgba(119, 119, 119, 0.431);
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.144);
}
ul{
    display: flex;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding-top: 35px;
    padding-bottom: 35px;
}
nav ul li,
nav .fa-bars{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
}
nav .fa-bars{
    display: none;
    position: relative;
}
nav .links2{
    display: none;
    position: absolute;
    z-index: 1000;
    right: 0;
    width: 200px;
    text-align: center;
}
nav .links2 li{
    padding: 0;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.719);
    z-index: 10000;
    width:200px;
}
nav .links2 li a{
    display: inline-block;
    z-index: 1000;
    width: 200px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.container .iul{
    display: flex;
}
nav i:last-of-type{
    align-self: center;
    padding-left: 20px;
}
nav i{
    color: white;
    font-size: 20px;
}
nav span{
    margin-left: 20px;
    padding: 0;
    align-self: center;
}
nav span{
    width: 2px;
    height: 30px;
    background-color: #fff;
    display: block;
    padding: 0;
}
li:first-of-type a{
    color: #06a6d0;
}
li:hover a{
    color: #06a6d0;
}
li:first-of-type,
li:hover{
    color: #06a6d0;
    border-bottom: 3px solid #06a6d0;
}
@media (max-width: 767px){
    nav .container{
        width: 100%;
    }
    .container ul:first-of-type{
        display: none;    
    }
    nav .fa-bars{
        display: block;
    }
    nav i:first-of-type{
        display: block;
    }
    nav .linksbar:hover ul.links2:before{
        content: "";
        position: absolute;
        border: 20px solid;
        border-color: transparent transparent rgba(34, 34, 34, 0.719) transparent;
        top: -40px;
        left: 50%;
        transform: translateX(-40%);
        -webkit-transform: translateX(-40%);
        -moz-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
        -o-transform: translateX(-40%);
}
    nav .linksbar:hover ul.links2{
        display: flex;
        position:absolute;
        flex-wrap: wrap;
        top: calc(100%);
    }
    nav .linksbar:hover ul.links2 li{
        border: none;
    }
    nav .links2 li a{
        border-bottom: 1px solid #fff;
    }
    nav .links2 li a:hover,
    nav .links2 li:first-child a{
        border-bottom: 1px solid #06a6d0;
        color: #06a6d0;
    }
}
/* End nav */
/* Start Header */
.landing{
    margin-top: -92px;
}
.landing header{
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.landing header .content{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.landing header .content i{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    z-index: 2;
    position: relative;
}
.landing header .content i:last-of-type{
    margin-right: 10px;
}
.landing header .content i:first-of-type{
    margin-left: 10px;
}
.landing header .content .text{
    position: absolute;
    left: 0;
    background-color: #1ab5e070;
    color: #fff;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 50px;
    z-index: 0;
}
.landing header .content .text .text-content{
    max-width: 500px;
}
.landing header .content .text .text-content p:not(:last-child){
    font-size: 32px;
}
.landing header .content .text .text-content p:last-child{
    font-size: 14px;
    line-height: 2;
}
.landing .circles{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.landing .circles .container{
    display: flex;
    justify-content: center;
}
.landing .circles span{
    width: 30px;
    height: 30px;
    border: 2px solid #333;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}
.landing .circles span:nth-child(2){
    background-color: #06a6d0;
}
@media (max-width: 767px){
    .landing header .content .text{
        width: 100%;
        justify-content: center;
    }
    .landing header{
        height: 350px;
    }
}
@media (max-width: 480px){
    .landing header .content .text .text-content p:not(:last-child){
        font-size: 20px;
    }
.landing header .content .text .text-content p:last-child{
        font-size: 7px;
    }
}
/* End Header */
/* End Landing */
/*Start Services */
.services{
    padding-top: var(--mainsectionpadding);
    padding-bottom: var(--mainsectionpadding);
}
.services .container .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
.services .container .services-content .srv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.services .container .services-content .srv i{
    flex-basis: 60px;
    margin-right: 50px;
}
.services .container .services-content .srv .text{
    flex: 1;
    margin-right: 40px;
}
.services .container .services-content .srv .text h2{
    color: #19c8fa;
    margin-top: 0;
    margin-bottom: 20px;
}
.services .container .services-content .srv .text p{
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 2;
    color: #777;
}
@media (max-width: 767px){
    .services .container .services-content{
        display: block;
    }
    .services .container .services-content .col{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .services .container .services-content .srv{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .services .container .services-content .srv i{
        margin: 0;
    }
    .services .container .services-content .srv .text{
        margin-right: 0;
    }
}
/*End Services*/
/* Start benefits */
.benefits{
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
    height: 600px;
}
.benefits::before{
    content: "";
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.benefits .image,
.benefits .text{
    flex-grow: 1;
    z-index: 2;
}
.benefits .image{
    text-align: center;
}
.benefits img{
    position: relative;
    top: 25%;
    flex: 1;
}
.benefits .text{
    position: relative;
    color: #fff;
    padding: 50px;
    background-color: rgb(15 116 143 / 70%);;
    right: 0;
}
.benefits .text h2{
    font-weight: normal;
    text-transform: uppercase;
}
.benefits .text .advantage{
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.benefits .text .advantage i{
    flex-basis: 40px;
    font-size: 15px;
}
.benefits .text .advantage p{
    flex: 1;
}
@media (max-width: 767px){
    .benefits .image{
        display: none;
    }
}
/* End benefits */
/* Start potfolio */
.portfolio{
    padding-top: var(--mainsectionpadding);
}
.portfolio .container .options{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.portfolio .container .options p{
    padding: 10px;
}
.portfolio .container .options p:first-child{
    background-color: #19c8fa;
    color: #f6f6f6;
}
.portfolio .images{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.portfolio .image:hover img{
    transform: scale(130%, 130%) rotate(10deg);
    -webkit-transform: scale(130%, 130%) rotate(10deg);
    -moz-transform: scale(130%, 130%) rotate(10deg);
    -ms-transform: scale(130%, 130%) rotate(10deg);
    -o-transform: scale(130%, 130%) rotate(10deg);
}
.portfolio .images .image:hover div{
    top: auto;
    bottom: 0;
}
.portfolio .images .image{
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
    top: 50px;
}
.portfolio .images .image img{
    max-width: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.portfolio .images .image div{
    position: absolute;
    bottom: -50%;
    left: 0;
    background-color: #fff;
    width: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.portfolio .images .image div p{
    margin-left: 30px;
}
.portfolio .images .image div p:last-child{
    color: #19c8fa;
}
@media (max-width: 1199px) {
    .portfolio .images .image{
        flex-basis: 50%;
    }
}
@media (max-width: 767px){
    .portfolio .images .image{
        flex-basis: 100%;
    }
}
.portfolio .container:last-of-type{
    text-align: center;
    padding-top: 50px;
    margin-bottom: var(--mainsectionpadding);
}
.portfolio .container:last-of-type button{
    background-color: #19c8fa;
    border: none;
    outline: none;
    padding: 15px 20px;
}
.portfolio .container:last-of-type button a{
    text-decoration: none;
    color: #fff;
}
.video{
    position: relative;
}
.video video{
    width: 100%;
}
.video .text{
    position: absolute;
    color: #fff;
    padding: 50px;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    background-color: rgb(15 116 143 / 70%);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.video .text h2{
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
}
.video .text p{
    font-weight: normal;
    text-transform: capitalize;
    margin-bottom: 20px;
    width: 100%;
}
.video .text a{
    font-weight: normal;
    text-transform: capitalize;
    background-color: #000;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
}
@media (max-width: 767px){
    .video .text{
        max-height: 150px;
    }
    .video .text h2{
        margin: 5px 0;
        font-size: 15px;
    }
    .video .text p{
        margin: 7px 0;
        font-size: 10px;
    }
    .video .text a{
        padding: 7px 12px;
        font-size: 10px;
    }
}
/* End potfolio */
/* Start About Us */
.about{
    padding-top: var(--mainsectionpadding);
    padding-bottom: var(--mainsectionpadding);
}
.about .container img{
    text-align: center;
    position: relative;
    top: 120px;
    max-width: 100%;
}
.about .coffee-project-mails{
    background-image: url(../images/stats.png);
    background-size: cover;
    position: relative;
    padding-top: var(--mainsectionpadding);
    padding-bottom: var(--mainsectionpadding);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
}
.about .coffee-project-mails::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
}
.about .coffee-project-mails .content{
    padding: 50px;
    color: white;
    flex-basis: 25%;
    text-align: center;
    background-color: rgb(15 116 143 / 70%);
    z-index: 6;
}
.about .coffee-project-mails .content i{
    background-color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.about .coffee-project-mails .content p{
    width: 100%;
}
.about .coffee-project-mails .content p:first-of-type{
    font-size: 50px;
    font-weight: bold;
}
@media (max-width: 1199px) {
    .about .coffee-project-mails .content{
        flex-basis: 50%;
    }
}
@media (max-width: 767px) {
    .about .coffee-project-mails .content{
        flex-basis: 100%;
    }
    .about .container img{
        top: 100px;
}
}
@media (max-width: 400px) {
    .about .coffee-project-mails{
        padding-left: 10px;
        padding-right: 10px;
    }
    .about .container img{
        top: 50px;
    }
}
.about .testimonials-skills{
    padding-top: var(--mainsectionpadding);
    padding-bottom: var(--mainsectionpadding);
}
.about .testimonials-skills .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .testimonials-skills .container .col1,
.about .testimonials-skills .container .col2{
    flex-basis: 45%;
}
.about .testimonials-skills .container .aboutcol{
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about .testimonials-skills .container .aboutcol + p{
    text-align: center;
    line-height: 2;
    color: #777;
    margin-bottom: 60px;
}
.about .testimonials-skills .container .person{
    display: flex;
    justify-content: space-between;
}
.about .testimonials-skills .container .person .avatar img{
    width: 100px;
    height: 100px;
    top: 0;
    margin-right: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about .testimonials-skills .container .person .text{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
.about .testimonials-skills .container .person .avatar{
    flex-basis: 300px;
}
.about .testimonials-skills .container .person .text p:first-child{
    line-height: 1.8;
    margin-top: 0;
}
.about .testimonials-skills .container .person .text p:last-child{
    line-height: 1.8;
    margin-top: 0;
    color: #777;
    justify-self: flex-end;
}
.about .testimonials-skills .container .pages{
    display: flex;
    justify-content: center;
}
.about .testimonials-skills .container .pages span{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about .testimonials-skills .container .pages span:nth-child(2){
    background-color: #19c8fa;
}
@media (max-width: 1199px){
    .about .testimonials-skills .container .aboutcol + p{
        width: 60%;
        margin: 35px auto 60px;
    }
    .about .testimonials-skills .container .col1,
    .about .testimonials-skills .container .col2{
        flex-basis: 100%;
    }
    .about .testimonials-skills .container .person{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about .testimonials-skills .container .person .avatar{
        flex-basis: 150px;
    }
    .about .testimonials-skills .container .person .avatar img{
        margin-right: 0;
    }
    .about .testimonials-skills .container .person .text{
        width: 40%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 767px) {
    .about .testimonials-skills .container .aboutcol + p{
        width: 80%;
    }
    .about .testimonials-skills .container .person .text{
        width: 80%;
    }
}
.about .testimonials-skills .container .col2 .skillprecent{
    margin-bottom: 40px;
}
.about .testimonials-skills .container .col2 .skillprecent h4{
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 15px;
}
.about .testimonials-skills .container .col2 .skillprecent div{
    position: relative;
    height: 30px;
    background-color: #dedadc;
}
.about .testimonials-skills .container .col2 .skillprecent div div{
    position: relative;
    background-color: #19c8fa;
    z-index: 4;
}
.about .testimonials-skills .container .col2 .skillprecent div .ninty{
    width: 90%;
}
.about .testimonials-skills .container .col2 .skillprecent .nintyparent::before{
    content: "90%";
    left: 90%;
}
.about .testimonials-skills .container .col2 .skillprecent .eighty-fiveparent::before{
    content: "85%";
    left: 85%;
}
.about .testimonials-skills .container .col2 .skillprecent div .eighty-five{
    width: 85%;
}
.about .testimonials-skills .container .col2 .skillprecent div .eighty{
    width: 80%;
}
.about .testimonials-skills .container .col2 .skillprecent .eightyparent::before{
    content: "80%";
    left: 80%;
}
.about .testimonials-skills .container .col2 .skillprecent div::before{
    bottom: calc(100% + 20px);
    padding: 4px 0;
    width: 40px;
    position: absolute;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.about .testimonials-skills .container .col2 .skillprecent .nintyparent::after,
.about .testimonials-skills .container .col2 .skillprecent .eighty-fiveparent::after,
.about .testimonials-skills .container .col2 .skillprecent .eightyparent::after{
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: #000 transparent transparent transparent;
    top: -20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.about .testimonials-skills .container .col2 .skillprecent .nintyparent::after{
    left: 90%;
}
.about .testimonials-skills .container .col2 .skillprecent .eighty-fiveparent::after{
    left: 85%;
}
.about .testimonials-skills .container .col2 .skillprecent .eightyparent::after{
    left: 80%;
}
@media (max-width: 1199px){
    .about .testimonials-skills .container .col2{
        margin-top: 100px;
    }
}
.about .quote::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
    top: 0;
}
.about .quote{
    position: relative;
    background-image: url(../images/quote.jpg);
    background-size: cover;
    padding-top: var(--mainsectionpadding);
    padding-bottom: var(--mainsectionpadding);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}
.about .quote q{
    position: relative;
    z-index: 3;
    font-size: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.about .quote p{
    position: relative;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
/* End About Us */
/* Start Pricing */
.pricing{
    padding-top: var(--mainsectionpadding);
    padding-bottom: var(--mainsectionpadding);
}
.pricing .container:nth-child(2){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding-top: var(--mainsectionpadding);
}
.pricing .container:nth-child(2) .plan{
    text-align: center;
    background-color: #fcfcfc;
}
.pricing .container:nth-child(2) .plan .planname{
    padding: 40px 20px;
    border-bottom: 1px solid #19c8fa;
    border-top: 1px solid #19c8fa;
}
.pricing .container:nth-child(2) .plan .planname h3{
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 20px;
}
.pricing .container:nth-child(2) .plan .planname p{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}
.pricing .container:nth-child(2) .plan .planname p sup,
.pricing .container:nth-child(2) .plan .planname p sub{
    font-size: 1.2rem;
    font-weight: 600;
}
.pricing .container:nth-child(2) .plan .planname p sup{
    position: relative;
    top: -40px;
    font-size: 1.6rem;
}
.pricing .container:nth-child(2) .plan .feautres{
    border-bottom: 1px solid #19c8fa;
}
.pricing .container:nth-child(2) .plan .feautres p{
    position: relative;
    padding: 20px;
}
.pricing .container:nth-child(2) .plan .feautres p:not(:last-child):after{
    content: "";
    position: absolute;
    left: 50%;
    width: 140px;
    height: 1px;
    padding: 0;
    background-color: #19c8fa;
    bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.pricing .container:nth-child(2) .plan .buynow{
    padding: 50px;
}
.pricing .container .plan .buynow a{
    padding: 20px;
    text-decoration: none;
    color: #000;
    border: 1px solid #19c8fa;
}
.pricing .container:nth-child(3){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: var(--mainsectionpadding);
}
.pricing .container:nth-child(3) .tocontact{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}
.pricing .container:nth-child(3) a{
    text-decoration: none;
    color: white;
    background-color: #19c8fa;
    padding: 15px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.pricing .subscribe{
    background-image: url(../images/subscribe.jpg);
    padding-top: var(--mainsectionpadding);
    padding-bottom: var(--mainsectionpadding);
    background-size: cover;
    position: relative;
}
.pricing .subscribe::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
}
.pricing .subscribe .container:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing .subscribe .container:last-child form{
    position: relative;
    z-index: 3;
    border: 1px solid #fff;
    display: flex;
    margin-right: 50px;
    width: 500px;
    max-width: 100%;
}
.pricing .subscribe .container:last-child form i{
    color: #fff;
    background-color: transparent;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.pricing .subscribe .container:last-child form [type="email"]{
    background-color: transparent;
    border: none;
    outline: none;
    width: calc(100% - 130px);
    padding: 20px 20px 20px 60px;
    caret-color: #19c8fa;
    color: white;
}
.pricing .subscribe .container:last-child form [type="email"]::placeholder{
    color: #fff;
}
.pricing .subscribe .container:last-child form [type="submit"]{
    background-color: #19c8fa;
    color: white;
    padding: 10px 20px;
    outline: none;
    border: none;
    width: 130px;
}
.pricing .subscribe .container:last-child p{
    color: white;
    margin: 0;
    line-height: 2;
    position: relative;
    z-index: 3;
}
@media (max-width: 1199px) {
    .pricing .subscribe .container:last-child{
        flex-wrap: wrap;
    }
    .pricing .subscribe .container:last-child p{
        width: 100%;
        text-align: center;
    }
    .pricing .subscribe .container:last-child form{
        margin-bottom: 50px; 
        margin-left: auto;
        margin-right: auto;    }
}
@media (max-width: 480px){
    .pricing .subscribe .container:last-child form [type="email"]{
        width: calc(100% - 100px);
    }
    .pricing .subscribe .container:last-child form [type="submit"]{
        width: 100px;
        text-align: center;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        position: relative;
        /* left: 30px; */
    }
}
/* End Pricing */