/* Start Global Values*/
*{
    box-sizing: border-box;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*Small*/
    @media (min-width: 768px){
        .container{
            width: 750px;
        }
    }
    /* Medium */
    @media (min-width: 992px) {
        .container{
            width: 970px;
        }
    }
    /* Large */
    @media (min-width: 1200px) {
        .container{
            width: 1170px;
        }
    }
/*End Global Values */
/* Start Global components */
.sectiontitle{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    text-align: center;
}
.sectiontitle > h2{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px;
    width: 100%;
}
.sectiontitle > h2::before{
    content: "";
    position: absolute;
    top: calc(100% + 27.5px);
    left: 50%;
    background-color: #000;
    width: 120px;
    height: 2px;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.sectiontitle > h2::after{
    content: "";
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.sectiontitle > h2 + p{
    text-align: center;
    width: 47%;
    margin: 20px auto 50px auto;
}
/* End Global components */
/* Start Landing */
.landing{
    background-image: url(../images/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.landing .tint{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Start nav */
nav{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(119, 119, 119, 0.431);
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.144);
}
ul{
    display: flex;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding-top: 35px;
    padding-bottom: 35px;
}
nav ul li,
nav .fa-bars{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
}
nav .fa-bars{
    display: none;
    position: relative;
}
nav .links2{
    display: none;
    position: absolute;
    z-index: 1000;
    right: 0;
    width: 200px;
    text-align: center;
}
nav .links2 li{
    padding: 0;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.719);
    z-index: 10000;
    width:200px;
}
nav .links2 li a{
    display: inline-block;
    z-index: 1000;
    width: 200px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.container .iul{
    display: flex;
}
nav i:last-of-type{
    align-self: center;
    padding-left: 20px;
}
nav i{
    color: white;
    font-size: 20px;
}
nav span{
    margin-left: 20px;
    padding: 0;
    align-self: center;
}
nav span{
    width: 2px;
    height: 30px;
    background-color: #fff;
    display: block;
    padding: 0;
}
li:first-of-type a{
    color: #06a6d0;
}
li:hover a{
    color: #06a6d0;
}
li:first-of-type,
li:hover{
    color: #06a6d0;
    border-bottom: 3px solid #06a6d0;
}
@media (max-width: 767px){
    nav .container{
        width: 100%;
    }
    .container ul:first-of-type{
        display: none;    
    }
    nav .fa-bars{
        display: block;
    }
    nav i:first-of-type{
        display: block;
    }
    nav .linksbar:hover ul.links2:before{
        content: "";
        position: absolute;
        border: 20px solid;
        border-color: transparent transparent rgba(34, 34, 34, 0.719) transparent;
        top: -40px;
        left: 50%;
        transform: translateX(-40%);
        -webkit-transform: translateX(-40%);
        -moz-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
        -o-transform: translateX(-40%);
}
    nav .linksbar:hover ul.links2{
        display: flex;
        position:absolute;
        flex-wrap: wrap;
        top: calc(100%);
    }
    nav .linksbar:hover ul.links2 li{
        border: none;
    }
    nav .links2 li a{
        border-bottom: 1px solid #fff;
    }
    nav .links2 li a:hover,
    nav .links2 li:first-child a{
        border-bottom: 1px solid #06a6d0;
        color: #06a6d0;
    }
}
/* End nav */
/* Start Header */
.landing{
    margin-top: -92px;
}
.landing header{
    height: 400px;
}
.landing header .content{
    margin-top: 400px;
    margin-bottom: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.landing header .content i{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    z-index: 2;
    position: relative;
}
.landing header .content i:last-of-type{
    margin-right: 10px;
}
.landing header .content i:first-of-type{
    margin-left: 10px;
}
.landing header .content .text{
    position: absolute;
    left: 0;
    background-color: #1ab5e070;
    color: #fff;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 50px;
    z-index: 0;
}
.landing header .content .text .text-content{
    max-width: 500px;
}
.landing header .content .text .text-content p:not(:last-child){
    font-size: 32px;
}
.landing header .content .text .text-content p:last-child{
    font-size: 14px;
    line-height: 2;
}
.landing .circles .container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.landing .circles span{
    width: 30px;
    height: 30px;
    border: 2px solid #333;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}
.landing .circles span:nth-child(2){
    background-color: #06a6d0;
}
@media (max-width: 767px){
    .landing header .content .text{
        width: 100%;
        justify-content: center;
    }
    .landing header{
        height: 350px;
    }
}
/* End Header */
/* End Landing */
/*Start Services */
.services .container .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
.services .container .services-content .srv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.services .container .services-content .srv i{
    flex-basis: 60px;
    margin-right: 50px;
}
.services .container .services-content .srv .text{
    flex: 1;
    margin-right: 40px;
}
.services .container .services-content .srv .text h2{
    color: #19c8fa;
    margin-top: 0;
    margin-bottom: 20px;
}
.services .container .services-content .srv .text p{
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 2;
    color: #777;
}
@media (max-width: 767px){
    .services .container .services-content{
        display: block;
    }
    .services .container .services-content .col{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .services .container .services-content .srv{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .services .container .services-content .srv i{
        margin: 0;
    }
    .services .container .services-content .srv .text{
        margin-right: 0;
    }
}
/*End Services*/